body {
    background-color: whitesmoke;
    background-image: url(wall.jpg);
    background-size: 100%;
    margin: 0%;
}

h1 {
    font-family: 'Open Sans';
    font-size: 150px;
    font-weight: 800;
    color: #5065a7;
    font-style: italic;
    text-shadow: #f2eee3 2px 2px;
    text-align: left;
}

#logo {
    position: fixed;
    margin: 0;
    padding: 0;
    width: 150px; 
    height: 150px;
}
.nav {
    list-style-type: none;
    margin-top: 150px;
    padding: 0;
    width: 150px;
    background-color: slategray;
    height: 100%;
    position: fixed;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    margin-bottom: 75%;
    padding: 20px 10px;
}

li :first-child {
    margin-top: 20%;
}

li:hover {
    background-color: #f2eee3;
}

#name-card {
    position: absolute;
    left: 20%;
    top: 275px;
    padding: 40px;
    margin: auto;
}
