body {
    background-color: whitesmoke;
}

#name-card {
    background-color: blue;
    border-radius: 20px;
    width: 300px;
    height: 400px;
    position: relative;
    margin-left: 200px;
}

h1 {
    
}